# See http://help.github.com/ignore-files/ for more about ignoring files.

# composer lock file
composer.lock

# dependencies
/vendor

# environment variables
.env*
!.env.example

# conteudo de teste em servidor local
/public/storage

/.idea
Homestead.json
Homestead.yaml
.phpunit.result.cache